@page
@model ge_repository.Pages.UserOperations.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit User Operations</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="user_ops.Id" />
            <input type="hidden" asp-for="user_ops.groupId" />
            <input type="hidden" asp-for="user_ops.projectId" />
            <input type="hidden" asp-for="user_ops.userId"/>
            <input type="hidden" asp-for="user_ops.editedDT"/>
            <input type="hidden" asp-for="user_ops.editedId"/>
            <input type="hidden" asp-for="user_ops.createdDT"/>
            <input type="hidden" asp-for="user_ops.createdId"/>
            
            <div class="form-group">
                <label asp-for="user_ops.userId" class="control-label"></label>
                <input asp-for="user_ops.userId" class="form-control" readonly></input>
                <span asp-validation-for="user_ops.user_operations" class="text-danger"></span>
                </div>
                <div class="form-group">
                <label class="control-label">User Name</label>
                <input class="form-control" readonly value="@Model.user_ops.user.FullName()"></input>
            </div>
            <partial name="_inputUserOperations"
                    for="user_ops"
                    view-data="ViewData" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

